@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;

  /* Brand Colors */
  --color-primary: #87be30;
  /* Verde */
  --color-secondary: #193f7a;
  /* Azul */
  --color-accent: #32779c;
  /* Azul Cyan */

  /* Text & UI Colors */
  --color-paragraph: #8592a5;
  /* Gris oscuro para párrafos */
  --color-paragraph-light: #adb5bd;
  --color-field: #ced4da;
  /* Gris claro para campos/bordes */
}